body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('images/depositphotos_52115347-stock-photo-sport-equipment-and-balls.jpg');
    /* You can adjust other background properties as needed */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

.info {
    text-align: center;
}
