body {
    font-family: Arial, sans-serif;
    color: rgb(253, 252, 245);
    margin: 0;
    padding: 0;
    background-image: url('images/depositphotos_52115347-stock-photo-sport-equipment-and-balls.jpg');
    /* You can adjust other background properties as needed */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
}

header {
    background-color: #e7afaf;
    color: #ae2626;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #aa7a7a;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


header {
    background-color: rgba(203, 195, 195, 0.5); /* Adding a semi-transparent black overlay to make text readable */
    color: #8673c0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #6e2a2a;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: rgba(196, 134, 134, 0.5); /* Adding a semi-transparent black overlay to make text readable */
    color: #d88383;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
