body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\dell\webpage dev\Dsolve-2024\images\depositphotos_52115347-stock-photo-sport-equipment-and-balls.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent black overlay to make text readable */
    color: #ae4b4b;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #6e2a2a;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent black overlay to make text readable */
    color: #d88383;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
