body {
    font-family: Arial, sans-serif;
    color: rgb(253, 252, 245);
    margin: 0;
    padding: 0;
    background-image: url('images/depositphotos_52115347-stock-photo-sport-equipment-and-balls.jpg');
    /* You can adjust other background properties as needed */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}
nav button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 25%;
}
nav button:hover {
    background-color: #0056b3;
}